
<main class="main">
  <div class="content">
    

    <mat-drawer-container class="drawer-container" autosize>
      <mat-drawer #drawer class="sidenav" mode="side">
        <div *ngFor="let item of menu" >
          <button mat-raised-button>
            {{item}}
          </button>
        </div>
      </mat-drawer>  
      
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span>{{title}}</span>
          <span class="toolbar-spacer"></span>
          
          <button *ngIf="profile.id === undefined" mat-icon-butto aria-label="icon-button with login icon">
            <mat-icon>login</mat-icon>
          </button>
          <mat-icon *ngIf="profile.id !== undefined">person</mat-icon>
          <button (click)="logout()" *ngIf="profile.id !== undefined" mat-icon-button aria-label="icon-button with logout icon">
            <mat-icon>logout</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-drawer-container>
    
  </div>
</main>


<router-outlet></router-outlet>
