<div role="tablist" class="tabs tabs-boxed">
    <input type="radio" checked name="user-details" role="tab" class="tab" aria-label="Details" />
    <div role="tabpanel" class="tab-content">
        <label class="input flex items-center gap-2">
            Id
            <input type="text" class="grow" value="{{user.user.id}}" disabled/>
          </label>
        <label class="input flex items-center gap-2">
            First Name
            <input type="text" class="grow" value="{{user.user.firstName}}" disabled/>
          </label>
          <label class="input flex items-center gap-2">
            last Name
            <input type="text" class="grow" value="{{user.user.lastName}}" disabled/>
          </label>        
          <label class="input flex items-center gap-2">
            Email
            <input type="text" class="grow" value="{{user.user.email}}" disabled/>
          </label>
    </div>
    <input type="radio" name="user-details" role="tab" class="tab" aria-label="Roles" />
    <div role="tabpanel" class="tab-content">
        <div *ngFor="let role of user.roles" class="card w-96 bg-base-100 shadow-xl">
            <div class="card-body">
                <p>{{role.id}}</p>
              <h2 class="card-title">{{role.name}}</h2>
            </div>
          </div>
    </div>
    <input type="radio" name="user-details" role="tab" class="tab" aria-label="Permissions" />
    <div role="tabpanel" class="tab-content">
        <div *ngFor="let permissions of user.permissions" class="card card-compact card-bordered h-25 bg-base-100 shadow-xl">
            <div class="card-body">
                <p>{{permissions.id}}</p>
              <h2 class="card-title">{{permissions.name}}</h2>
              <p>{{permissions.description}}</p>
            </div>
          </div>
    </div>
  </div>
