<div class="container">    
    <h2>Login</h2> 
      <mat-form-field class="field">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="model.email" placeholder="john@doe.com">
      </mat-form-field>
      <mat-form-field class="field">
          <mat-label>Password</mat-label>
          <input type="password" matInput [(ngModel)]="model.password">
        </mat-form-field>
      <button class="field" mat-raised-button color="primary" (click)="login()">Submit</button>
  </div>  