<div class="container">    
  <input type="checkbox" [checked]="showLogin" id="login_modal" class="modal-toggle">
  <dialog id="login_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Login</h3>
      <div class="join join-vertical flex flex-col justify-center gap-4 px-2 pt-2">
        <input class="input input-bordered join-item" [(ngModel)]="model.email" placeholder="Email"/>
        <input class="input input-bordered join-item password" type="password" [(ngModel)]="model.password" placeholder="Password"/>
        <button class="btn join-item rounded-r-full" (click)="login()">Login</button>
      </div>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
  </div>  
